<!DOCTYPE html>
<html lang="en">
<head>
  <title>Rent a space with SPACED</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="jumbotron text-center">
    <h1>No more worries about SPACES.</h1>
    <p>From rental spaces to rental conference rooms.
    <br>
    Reservations can be made easily according to your needs.</p> 
  </div>
    
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3><%= link_to @spaces[1].location, space_path(@spaces[1]) %></h3>
        
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      </div>
      <div class="col-sm-4">
        <h3><%= link_to @spaces[2].location, space_path(@spaces[2]) %></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      </div>
      <div class="col-sm-4">
        <h3><%= link_to @spaces[3].location, space_path(@spaces[3]) %></h3>        
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      </div>
    </div>
  </div>
</body>
</html>
