<%= simple_form_for(booking, url:space_bookings_path) do |f| %>
  <div class="container mt-3">
    <p>From:</p>
    <%= f.datetime_select :from %>
  </div>
  <div class="container mt-3">
    <p>Until:</p>
    <%= f.datetime_select :to %>
  </div>
  <div class="container mt-3">
    <%= f.submit "Book this space", class: "btn btn-primary" %>
  </div>
<% end %>
