<h1>Bookings</h1>

<ul class="tabs">
  <li data-tab-target="#my-bookings" class="active tab">My Bookings</li>
  <li data-tab-target="#my-spaces" class="tab">Requests</li>
</ul>

<div class="tabcontent">
  <div id="my-bookings" data-tab-content class="active">

    <h1>My Bookings</h1>
    <%# <%= link_to 'Make a new booking', new_booking_path %>
<div class="row row-cols-1 row-cols-md-4">

    <% @bookings.each do |booking| %>
        <%# <div class="col-md-3"> %>
          <%= render 'booking_cards', booking: booking %>
      <% end %>
  <%# </div> %>

    </div>
  </div>
</div>

<div class="tabcontent">
  <div id="my-spaces" data-tab-content>

      <h1>Requests to book your spaces:</h1>
    <div class="row row-cols-1 row-cols-md-4">
      <% @spaces.each do |space| %>
        <% space.bookings.each do |booking| %>
          <%= render 'request_cards', booking: booking %>


        <% end %>
      <% end %>
    </div>
  </div>
</div>
